.app-menu {
  height: 100%;  
  overflow: hidden;
  min-width: 50px;
  float: left;

  & .sidenav {
    height: 100%;
    padding: 0px;   
    border-right: 1px solid rgba(114, 114, 114, 0.5);
    background-color: rgb(189, 218, 252); 
    margin: 0;

    & .menu-section {
      margin-bottom: 10px;

      & p {
        padding: 10px;
        padding-left: 30px;
        margin: 0;
  
        &:hover {
          cursor: pointer;
          background-color: rgba(134, 134, 134, 0.1);      
        }
      }
    }    
  }

  & .sidenav-content {
    height: 100%;   
    overflow: hidden; 
  }

  & .toggle-button {
    width: 50px;
  }

  & .mat-raised-button {
    width: 100%;
  }
}