<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <!-- <span><img src="./assets/devglan.png"></span> -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container color="secondary" class="app-menu" [hasBackdrop]="true">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-list>
      <mat-list-item routerLink='/content/first'>
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Home</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item routerLink='/content/second'>
        <mat-icon mat-list-icon>rss_feed</mat-icon>
        <p mat-line>Feed</p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>