<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mailbox</mat-card-title>
      <mat-card-subtitle>mytestsite.com</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="img src" alt="Photo of site"> -->
  <mat-card-content>
      <p>
          Description of product state, maybe it's fully set up with no insights offerable.
      </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button>Manage</button>
      <button mat-button>Favourite</button>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Domain</mat-card-title>
      <mat-card-subtitle>mytestsite2.com</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="img src" alt="Photo of site"> -->
  <mat-card-content>
      <p>
          Description of product and what you can do.
      </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button>Manage</button>
      <button mat-button>Favourite</button>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Website</mat-card-title>
      <mat-card-subtitle>mytestsite3.com</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="img src" alt="Photo of site"> -->
  <mat-card-content>
      <p>
          Description of product improvements, with insight button available.
      </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button>Manage</button>
      <button mat-button>Favourite</button>
      <button mat-button>Insight <mat-icon>notification_important</mat-icon></button>
  </mat-card-actions>
</mat-card>