@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-icons/iconfont/material-icons.css';

.app-container {
    margin-top: -8px;
    height: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}